body{
  background: #000000;
}

#textblock {
  background-color: #000000;
  height: 100vh;
  overflow: auto;
}

#textblock-container {
  width: 50%;
  margin: 0 auto;
  padding-top: 70px;
}

#textblock-title {
  color: #918d86;
  font-size: 35px;
  font-weight: 600;
  font-family: "Helvetica Neue";
}



#textblock-content {
  color: #938f8f;
  font-size: 20px;
}

#textblock-footer {
  color: #ffaf1b;
  font-size: 15px;
  font-weight: 400;
  position: fixed;
  width: 100%;
  bottom: 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

#textblock-devsense {
  text-decoration: none;
  color: #ffaf1b;
  font-size: 15px;
  font-weight: 600;
}

.animation,
.animation_layer {
  height: 1000px;
}

.animation {
  display: block;
  position: relative;
  z-index: 10;
}

.animation_layer {
  background-position: bottom center;
  background-size: auto 1100px;
  /* background-repeat: repeat-x; */
  width: 100%;
  position: absolute;
}

.animation_layer.parallax {
  position: fixed;
}

#artback {
  background-image: url(./images/aishu.jpg);
  filter: hue-rotate(800deg);

}
.dogliens{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 100px;
}

#mountain {
  /* background-image: url(./images/mountains.png);  */
}

#logoland {
  /* No background image specified */
}

#jungle1 {
  background-image: url(./images/jungle1.png);
  filter: brightness(0)

}

#jungle2 {
  background-image: url(./images/jungle2.png);
  /* filter: brightness(0.4);vimal */
  filter: hue-rotate(100deg);

}

#jungle3 {
  background-image: url(./images/jungle3.png);
  /* filter: brightness(0.2); */
  filter: brightness(0)




}

#jungle4 {
  /* background-image: url(./images/logo_land.png); */
  /* filter: hue-rotate(150deg); */
  color: black;


}

#jungle5 {
  background-image: url(./images/jungle5.png);
  filter: brightness(0.2);


}

#manonmountain {
  background-image: url(./images/man_on_mountain.png);
  /* filter: hue-rotate(1); */
  filter: brightness(0.2);



}
@media only screen and (max-width: 600px) {
  #textblock-container {
    width: 90%; /* Adjust width as needed */
    margin-top: 20px; /* Add margin to push it closer to the above content */
  }
}

