body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Style scrollbar for all webpages */
::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
  position: -webkit-sticky;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(44, 14, 14); /* Change scrollbar thumb color */
  border-radius: 10px; /* Optional: rounder corners */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Change scrollbar track color */
}
